<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME}  -f [OR]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule !\.(?:jpe?g|gif|bmp|png|tiff|css|svg|js)$ index.php [L,NC]

   RewriteCond %{HTTP:Authorization} ^(.+)$
   RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
   SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

</IfModule>