*{
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    margin: 0px;
    color: white;
}

body{
    display: flex;
    align-items: center;
    background-color: #121212;
    justify-content: space-between;
}
#navbar{
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: clamp(250px, 20%, 350px);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 0;
    list-style: none;
}
#navbar ul li{
    width: 80%;
    padding: 20px;
    background-color: #353535;
    cursor: pointer;
    transition: background .3s;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
}
#navbar ul li:hover{
    background-color: #121212;
}
#navbar ul [active]{
    background-color: #121212;
}
#navbar img{
    height: 10%;
}
main{
    height: 100%;
    width: 100%;
}
h1{
    font-family: var(--primaryfont);
    padding-left: 2.5em;
    width: 100%;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app{
    background-color:#1e1e1e;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    /* margin-left: 2.5em; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 85%;
}
[active]#modal{
    visibility: visible;
    opacity: 1;
}
[active]#modal .modalContent{
    transform: scale(1)
}
#modal{
    position: absolute;
    display: flex;
    flex-direction: row;
    opacity: 0;
    visibility: hidden;
    transition: visibility .2s, opacity .2s ease-in-out;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 66, 66, 0.644);
    height: 100%;
    width: 100%;
    z-index: 99;

}

.modalContent #ID{
    box-shadow: none;
    font-size: 1.2em;
    font-weight: bold;
}
.modalContent fieldset input{
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    outline: 0px;
    width: 25%;
    text-align: center;
    font-family: var(--primaryfont);
    font-size: 1.05em;
    border: 0;
}
.modalContent fieldset label{
    font-size: 1.2em;
}
.modalContent fieldset:not(.buttonGroup){
    display: flex;
    width: 80%;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 0;
    gap: 1rem;
}
.modalContent div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalContent h1{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.modalContent{
    background-color: white;
    display: grid;
    transform: scale(0.5);
    grid-template-columns: 99% 1%;
    padding: 30px;
    overflow: hidden;
    height: 75vh;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: clamp(300px, 30vw, 400px);
    height: clamp(360px, 75vh, 480px);
    border-radius: 5px;
    transition: .2s;
}
[active].modalContent #wrapper{
    transform: translateX(-100%);
    visibility: hidden;
}
[active].modalContent #confirmAction{
    transform: translateX(-100%);
    visibility: visible;
    margin-left: 0;
}
.actionIconContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 6px solid #ecc44c;
}
.actionIcon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    color: #ffc107;
    font-size: 4em;
}
#wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    transition: visibility .3s, transform .2s;
}
#confirmAction{
    position: relative;
    visibility: hidden;
    margin-left: 30px;
    width: calc(clamp(300px, 30vw, 400px) - 60px);
    height: calc(clamp(360px, 75vh, 480px) - 60px);
    transition: visibility .3s, transform .2s;
    justify-content:space-between
}
#confirmAction p{
    font-family: var(--primaryfont);
}
p.actionConfirmSub{
    font-weight: 600;
}
#deletePreview{
    font-weight: bold;
}
.buttonGroup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 0;
}
.buttonGroup div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.button{
    font-family: var(--secondaryfont);
    color:white;
    border-radius:5px;
    padding: 13px 20px;
    font-size:1.1em;
    transition: .3s;
    cursor:pointer;
    border: 0;
}
.button.danger{
    background-color: rgb(220,53,69);
    width: 80%;
    box-shadow: 0px 0px 0px 2px rgb(220,53,69) inset;
}
.button.accept{
    background:rgb(40,167,69);
    position: relative;
    bottom: 0px;
    box-shadow: 0px 0px 0px 2px rgb(40,167,69) inset;
}
.button.cancel{
    background:transparent;
    color:rgb(220,53,69);
}
.button.cancel:hover{
    box-shadow: 0px 0px 0px 2px rgb(220,53,69) inset;
}
.button.accept:hover,
.button.danger:hover{
    background:transparent;
    color:black;
}
.button.cancel:hover{
    text-decoration-line: underline;
}


#horarios{
    height: 100%;
    padding: 30px;
    padding-left: 10%;
    width: 100%;
    columns: 2;
    column-fill: auto;
    list-style: none;
    column-gap: 5em;
}
#horarios li{
    display: grid;
    margin-bottom: -1px;
    grid-template-columns: 0.5fr 1fr 1fr;
    break-inside: avoid-column;
    list-style-type: none;
    width: 70%;
    border: 1px solid rgb(94, 94, 94);
    grid-template-rows: 1;
    background: #2d2d2d;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
}
#horarios li p{
    text-align: center;
    margin: 0;
    padding: 10px;
}
.draggable{
    user-select: none;
    transition: transform .3s, top .1s, left .1s;
}
[data-mode="edit"]#horarios .draggable{
    cursor: pointer;
}
.draggable:hover{
    background-color: #121212 !important;
}
[data-mode="ordem"]#horarios .draggable{
    cursor: grab;
}

[active]#horarios .draggable{
    cursor: grabbing;
}
[active]#horarios .draggable:hover{
    background-color: #2d2d2d !important;
}
.dragged{
    pointer-events: none;
    position: absolute;
    transform: scale(1.1);
    z-index: 999;
    cursor: grabbing;
}
.placeholder{
    cursor: grabbing;
    background: white !important;
}
.dumbOption{
    opacity: 0;
}
.actions{
    background-color: #2d2d2d;
    height: 100%;
    display: flex;
    padding: 20px;
    width: 30%;
    flex-direction: column;
}
.actions fieldset{
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#edit,
#ordem{
    background-color: #121212;
    display:flex;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 18px;
    width: 18px;
    cursor: pointer;
    transition: .3s;
}

[active]#edit::after,
[active]#ordem::before,
[active]#edit::before,
[active]#ordem::after{
    opacity: 1;
}
#ordem:hover,
#ordem:focus,
#edit:hover,
#edit:focus{
    box-shadow: 0px 0px 0px 3px #9b9b9b;
}
#edit::after,
#edit::before,
#ordem::after,
#ordem::before{
    position: absolute;
    opacity: 0;
    content:'';
    background:rgb(216, 216, 216);
    border-radius: 20%;
    display:block;
    height: 2px;
    width: 15px;
}
#edit::before,
#ordem::before{
    transform: rotate(45deg);
}
#edit::after,
#ordem::after{
    transform: rotate(-45deg);
}